/*
 Width: 1000px
 # Columns : 12 
 Column width: 65px
 Gutter : 20px 

 Custom-built using Skeleton V1.2 and as a base and example

target / context = result

*/

/* Base 1000 Grid
====================================== */
.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 0;  
}

.container .content {
    min-height: 90%;
}

.container .column,
.container .columns {
    float: left;
    display: inline;
    margin: 0 10px;
}

.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0; }
.column.omega, .columns.omega { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns { width: 6%; } /* 60px/1000px * 100 */
.container .two.columns { width: 12%; } /* 120px/1000px * 100 */
.container .three.columns { width: 18%; } /* 180px/1000px * 100 */
.container .four.columns { width: 24%; } /* 240px/1000px * 100 */
.container .five.columns { width: 30%; } /* 300px/1000px * 100 */
.container .six.columns { width: 36%; } /* 360px/1000px * 100 */
.container .seven.columns { width: 42%; } /* 420px/1000px * 100 */
.container .eight.columns { width: 48%; } /* 480px/1000px * 100 */
.container .nine.columns { width: 54%; } /* 540px/1000px * 100 */
.container .ten.columns { width: 60%; } /* 600px/1000px * 100 */
.container .eleven.columns { width: 66%; } /* 660px/1000px * 100 */
.container .twelve.columns { width: 72%; } /* 720px/1000px * 100 */
.container .thirteen.columns { width: 78%; } /* 780px/1000px * 100 */
.container .fourteen.columns { width: 84%; } /* 840px/1000px * 100 */
.container .fifteen.columns { width: 90%; } /* 900px/1000px * 100 */
.container .sixteen.columns { width: 96%; } /* 960px/1000px * 100 */

.container .one-third.column { width: 32%; }
.container .two-thirds.column { width: 64%; }

/* Offsets */
.container .offset-by-one { margin-left: 8%; }
.container .offset-by-two { margin-left: 14%; }
.container .offset-by-three { margin-left: 20%; }
.container .offset-by-four { margin-left: 26%; }
.container .offset-by-five { margin-left: 32%; }
.container .offset-by-six { margin-left: 38%; }
.container .offset-by-seven { margin-left: 44%; }
.container .offset-by-eight { margin-left: 50%; }
.container .offset-by-nine { margin-left: 56%; }
.container .offset-by-ten { margin-left: 62%; }
.container .offset-by-eleven { margin-left: 68%; }
.container .offset-by-twelve { margin-left: 74%; }
.container .offset-by-thirteen { margin-left: 80%; }
.container .offset-by-fourteen { margin-left: 86%; }
.container .offset-by-fifteen { margin-left: 92%; }


/* Clearing */
/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}




