body {
    background-color: #CCCCBB;
    font-family: Helvetica, Arial, sans-serif;
}

.heading {
    color: white;
    background-color: #997755;
}

.heading a:visited {
    color: white;
}

#footer {
    background: #997755;
    border-top: 4px solid white;
    color: white;
    padding: 5px;
    clear: both;
    margin-top: 20px;
}

/*Navbar specific styling*/
#main-nav {
    background: #997755;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #FFF;
    text-align: center;
    width: 100%;
    height: 48px;
}

.menu {   
    /*height: 30px;*/
    display: inline-block;
    z-index: 597;
    position: relative;
}

.menu,
.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li { 
    float: left; 
    position: relative; 
    vertical-align: middle;
    min-height: 1px;
}

.menu ul {
    background: #997755; 
    display: none; 
    position: absolute;
    left: 0; 
    top: 100%;
    width: 100%;
}

.menu ul li {
    float: none;
}

.menu a { 
    background: #997755;
    display: block; 
    color: white; 
    line-height: 48px; 
    padding: 0 20px; 
    text-decoration: none;
}

.menu li { list-style: none; }

.sub-menu {

    min-width: 195px;
    padding: 0;
}

.sub-menu a {
    border: 2px solid white;
    line-height: 150%;
    padding: 13px 20px;
}

.menu .has-sub > a:after {
    content: "+"; 
    margin-left: 5px;
}

.menu li a:hover {
    background: white;
    color: #997755;
}

@media all and (min-width: 481px) {
    .menu li:hover { background: black;  }
    .menu li:hover ul { display: block;  }
}

@media all and (max-width: 480px) {
    .menu {  height: auto; }
    .menu > li {  float: none; width: 100%; }
    .menu a { line-height: 40px; }
    .menu ul { position: relative; }

    .menu li.tap { background: #555;  }
    .menu li.tap ul { 
        display: block;
    }
}

/* Content */
.content {
    margin-top: 20px;
}

.content p {
    background-color: white;
    padding: 10px;
    text-align: justify;
    overflow:auto;
    overflow-wrap: break-word;
}

.content .article:first-child {
    margin-top: 0;
}

.content .article {
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.article .post-creator {
    float: right;
    margin: -10px 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.article img {
    overflow: hidden;
    max-height: 300px;
    width: 100%;
    display: block;
    border-top: 2px solid #997755;
    border-bottom: 2px solid #997755;
}

.article h1 {
    margin:0 0 15px;
    padding:0;
    font-family: Georgia;
    font-weight: normal;
    color: #666;
}

.article hr {
    color: #997755;
}

.article .post-content {
    padding: 10px 20px;
}

.article p {
    padding: 0;
}

.article {
    background-color: white;
    border: 2px solid #997755;
}

.article .read-more {
    color:#000;
    font-weight: 700; 
    text-decoration: none;
}

/* Links */
.article a,
#sideLinks a {
    text-decoration:none;
}

/*Sidebar specific styling*/
#sideLinks {
    background-color: white; 
    border-top: 2px solid white;
    border-bottom: 2px solid #997755;
    border-left: 2px solid #997755;
    border-right: 2px solid #997755;
    float: right;
}

#sideLinks ul {
    list-style-type: none;
    padding: 5px;
}

#sideLinks li {
    padding: 5px;
}

#sideLinks a:hover {
    color: #997755;
}

.ribbon {
    background: #997755;
    margin-top: 0;
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/* TV Cast */

.card {
    background: white;
    position: relative;
}

.card h3 {
    padding: 5px 0;
    text-align: center;
    margin: 0;
    border-top: 3px solid white;
}

.card a {
    text-decoration: none;
    color: white;
}

.card div {
    padding: 5px 0;
    text-align: center;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    border-bottom: 3px solid white;
}

.card img {
    margin-bottom: 10px;
    width: 100%;
}

.card p {
    margin-top: 0; 
}