body {
    margin: 0;
    padding: 0;
}

#main-nav {
    background: #997755;
    border-bottom: 4px solid white;
    /*border: 5px solid white;*/
    /*-webkit-box-shadow: 0 0 5px #888;*/
    /*box-shadow: 0 0 5px #888;*/
    padding: 0;
    margin: 0;
    border: 0;
}

.menu {   
    /*height: 30px;*/
    width: 100%; 
    font-size: 24px;
    display: inline-block;
    z-index: 597;
    position: relative;
}

.menu,
.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu > li { 
    float: left; 
    position: relative; 
    vertical-align: middle;
    min-height: 1px;
}

.menu ul {
    background: #997755; 
    display: none; 
    position: absolute;
    left: 0; 
    top: 100%;
    width: 100%;
}

.menu ul li {
    float: none;
}

.menu a { 
    background: #997755;
    display: block; 
    color: white; 
    line-height: 48px; 
    padding: 0 20px; 
    text-decoration: none;
}

.menu li { list-style: none; }

.sub-menu {
    top: 10px;
    min-width: 195px;
    padding: 0;
}

.sub-menu a {
    border: 2px solid white;
    line-height: 150%;
    padding: 16px 20px;
}

.menu .has-sub > a:after {
    content: "+";
    
    margin-left: 5px;
}

@media all and (min-width: 481px) {
    .menu li:hover { background: #555;  }
    .menu li:hover ul { display: block;  }
}

@media all and (max-width: 480px) {
    .menu {  height: auto; }
    .menu > li {  float: none; width: 100%; }
    .menu a { line-height: 40px; }
    .menu ul { position: relative; }
    
    .menu li.tap { background: #555;  }
    .menu li.tap ul { 
        display: block;
        border-bottom: 4px solid white;
    }
}

